<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}Matt's Project Alpha {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'show_my_tasks' %}">My Tasks</a></li>
                        <li><a href="{% url 'list_projects' %}">My Projects</a></li>
                        {% comment %} Added username to logout link for better
                    clarity. {% endcomment %}
                        <li>
                            <!-- prettier-ignore -->
                            <a href="{% url 'logout' %}" >Logout ({{ user.username }})</a >
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %} {% endblock content %}
    </body>
</html>
