{% extends 'base.html' %} {% block title %}My Projects{% endblock title %}

<!-- prettier-ignore -->
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p><a href="{% url 'create_project' %}">Create a new project</a></p>
            {% if project_list.all|length > 0 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <tr>
                                <td>
                                    <!-- prettier-ignore -->
                                    <a href="{% url 'show_project' project.pk %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.members.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
